h1{
font-size:xx-large;
color:lightcoral;
background-color: lightseagreen;
}
h2{
font-size: x-large;
color: magenta;
background-color: midnightblue;
}
h3{
font-size: larger;
color: orchid;
background-color: purple;
}
.footer1{
font-size: smaller;
color: salmon;
text-align: center;
}
.footer2{
font-size: smaller;
color: springgreen;
text-align: center;
}
.footer3{
font-size: smaller;
color: steelblue;
text-align: center;
}